.task-container {
  height: 100%;
  overflow-x: auto;
  margin: 0 auto;
  padding: 0.625rem 1.5625rem;
  background-color: #f5f5f5;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 0;
}

.task-header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.breadcrumb {
  font-size: 1rem;
  color: #000;
  margin-top: 0.3125rem;
}

.breadcrumb a {
  text-decoration: underline;
  color: #000;
}

.add-task-btn {
  background-color: #6261b4;
  color: white;
  border: none;
  padding: 0.8rem 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

.add-task-btn fa-icon {
  margin-right: 0.5rem;
}

.controls {
  display: flex;
  margin-bottom: 1.25rem;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.625rem 1.5625rem;
  border-radius: 6px;
}

.filters {
  float: right;
  display: flex;
  margin-bottom: 1.25rem;
  flex-direction: row;
  justify-content: flex-end !important;
  align-items: center;
}

.filters select,
.date-filter {
  display: flex;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
  align-items: center;
}

.date-filter fa-icon {
  margin-left: 15px;
}

.task-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.task-table th,
.task-table td {
  padding: 12px 0px;
  text-align: left;
  border-bottom: 2px solid #eef2f4;
}

.task-table th {
  font-weight: bold;
  color: #797b7c;
}

.task-table tr {
  transition: background-color 0.2s ease-in;
}

.task-table tr:hover {
  background-color: #f1f1f1;
}

.action {
  background: none;
  border: none;
  color: #6261b4;
  cursor: pointer;
  margin-right: 5px;
}

.action:hover {
  color: #3700b3;
}
