<div class="task-container">
  <header class="task-header">
    <div>
      <h1>Tarefas</h1>
      <nav class="breadcrumb">
        <a href="/dashboard">Dashboard</a> > <span>Tarefas</span>
      </nav>
    </div>
    <button class="add-task-btn" (click)="toggleModal()">
      <fa-icon [icon]="faPlusSquare"></fa-icon>
      <span>Nova Tarefa</span>
    </button>
  </header>

  <div class="controls">
    <div class="filters">
      <select>
        <option>Projetos</option>
      </select>
      <select>
        <option>Status</option>
      </select>
      <select>
        <option>Todas Prioridades</option>
      </select>
      <div class="date-filter">
        Últimos 30 dias
        <fa-icon [icon]="faCalendarAlt" size="lg"></fa-icon>
      </div>
    </div>

    <div class="table-responsive">
      <table class="task-table">
        <thead>
          <tr>
            <th>Tarefa</th>
            <th>Prioridade</th>
            <th>Projeto</th>
            <th>Status</th>
            <th>Responsável</th>
            <th>Deadline</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let tarefa of tarefas" class="task-item">
            <td class="task-title">{{ tarefa.title }}</td>
            <td class="task-prioridade">
              <span
                class="prioridade-label"
                [ngStyle]="{
                  'background-color': getPrioridadeColor(tarefa.prioridade)
                }"
                >{{ getAbbreviatedStatus(tarefa.prioridade) }}
              </span>
            </td>
            <td class="task-projeto">{{ tarefa.projeto }}</td>
            <td class="task-status">
              <span class="status-label">{{
                getAbbreviatedStatus(tarefa.status)
              }}</span>
            </td>
            <td class="task-responsavel">{{ tarefa.responsavel }}</td>
            <td class="deadline">{{ tarefa.deadline }}</td>
            <td class="action-btn-group">
              <button class="action delete-btn">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
              <button class="action view-btn">
                <fa-icon [icon]="faEye"></fa-icon>
              </button>
              <button class="action edit-btn">
                <fa-icon [icon]="faPenSquare"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="showModal$ | async">
    <app-task-modal (modalClosed)="onModalClosed()"></app-task-modal>
  </div>
</div>
