<div class="task-container">
  <div class="controls">
    <button class="add-task-btn" (click)="addNewTarefa()">
      <fa-icon [icon]="faPlusSquare"></fa-icon>
      Nova Tarefa
    </button>

    <div class="filters">
      <select>
        <option>Projetos</option>
      </select>
      <select>
        <option>Status</option>
      </select>
      <select>
        <option>Todas Prioridades</option>
      </select>
      <select>
        <option>Últimos 30 dias</option>
      </select>
    </div>
  </div>

  <table class="task-table">
    <thead>
      <tr>
        <th>Tarefa</th>
        <th>Prioridade</th>
        <th>Projeto</th>
        <th>Status</th>
        <th>Responsável</th>
        <th>Deadline</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let tarefa of tarefas">
        <app-task-item [tarefa]="tarefa"></app-task-item>
      </tr>
    </tbody>
  </table>
</div>
