.sidebar {
  width: 250px;
  background-color: #6261b4;
  color: white;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar-header {
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #5554aa;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}
