<div class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Criar Tarefa</h2>
      <button class="close-btn" (click)="closeModal()">
        <fa-icon [icon]="faTimesCircle"></fa-icon>
      </button>
    </div>
    <form>
      <div class="form-group">
        <label for="title">Título da Tarefa</label>
        <input
          id="title"
          name="title"
          [(ngModel)]="newTarefa.title"
          type="text"
          placeholder="Título da Tarefa"
        />
      </div>
      <div class="form-group">
        <textarea
          id="details"
          name="details"
          rows="5"
          [(ngModel)]="newTarefa.detalhes"
          placeholder="Detalhes da Tarefa"
        ></textarea>
      </div>
      <div class="form-row">
        <div class="form-group">
          <input
            id="deadline"
            name="deadline"
            [(ngModel)]="newTarefa.deadline"
            type="date"
            placeholder="Deadline"
          />
        </div>
        <div class="form-group">
          <select
            id="prioridade"
            name="prioridade"
            [(ngModel)]="newTarefa.prioridade"
          >
            <option value="" disabled selected>Prioridade</option>
            <option value="alta">Alta</option>
            <option value="média">Média</option>
            <option value="baixa">Baixa</option>
          </select>
        </div>
      </div>
      <div class="form-group input-group">
        <input
          id="responsavel"
          name="responsavel"
          [(ngModel)]="newTarefa.responsavel"
          placeholder="Responsáveis"
        />
        <fa-icon [icon]="faSearch" class="input-icon"></fa-icon>
      </div>
      <div class="form-group">
        <div class="upload">
          <span>Anexar arquivo</span>
          <input type="file" value placeholder="Anexar" />
          <p>A better way to tell which species are vulnerable</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" (click)="closeModal()">
          Cancelar
        </button>
        <button type="submit" class="btn btn-save" (click)="saveTask()">
          <fa-icon [icon]="faPlusSquare"></fa-icon>
          <span>Criar Tarefa</span>
        </button>
      </div>
    </form>
  </div>
</div>
